@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import 'base';
@import '~normalize.css/normalize.css';

body {
  font-family: $fonts;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: $color-bg-light;
  color: $color-font;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: $color-primary-mid;
  cursor: pointer;
}
p a {
  text-decoration: underline;
}

a:hover {
  color: $color-accent;
}

a:active {
  color: darken($color-accent, 25%);
}

.center {
  text-align: center;
}

.tag {
  @include tag;

  &.fancy {
    border: 1px solid $color-primary-mid;
    background: $color-bg-dark;
    color: $color-primary-mid;
  }
}

.button {
  @include button;

  &.fancy {
    @include fancy;
  }
}


img {
  max-width: 100%;
}

h1 {
  font-size: 2em;
}
h1,h2,h3 {
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  text-align: center;
  padding: 2em;

  color: $color-font-foreground;
  background: linear-gradient(90deg, $color-gradient-left, $color-gradient-right);
}

footer .for_overly_curious_people {
  font-size: 0.5em;
  color: $color-gradient-left;
}
