nav {
  display: none;
}

.atf {
  height: 80vh;

  color: #fff;
  background: linear-gradient(75deg, #021928, #0B3F60, #021928);
  /*background: linear-gradient(to right, #0f0c29, #302b63, #24243e);*/
  /*background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);*/
  /*background: linear-gradient(to right, #0b486b, #f56217);*/
  /*background: linear-gradient(to right, #16222A, #2b5876);*/
  background-size: 300% 100%;

  -webkit-animation: colorshift 30s infinite;
  animation: colorshift 30s infinite;
}

@-webkit-keyframes colorshift {
    0% {background-position:0% 0%}
    50% {background-position:100% 100%}
    100% {background-position:0% 0%}
}
@keyframes colorshift { 
    0% {background-position:0% 0%}
    50% {background-position:100% 100%}
    100% {background-position:0% 0%}
}

.atf .grid {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23042A43' fill-opacity='0.5' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.atf h1 {
  font-size: 3em;
  margin: 1em 0;
}

.atf li {
  display: inline-block;
  padding: 0 1em;
}

.atf a {
  color: #fff;
}
.atf a:hover,.posts a:hover {
  color: #FF8E00;
}

.atf .heading .text {
  padding-left: 0.25em;
}

.posts .blurb {
  padding: 2em 1em;
}
