.postsList {
  padding: 1em 0;
}

.postsList .img {
  min-width: 150px;
  min-height: 150px;
  margin-right: 2em;
}

.postsList p {
  margin: 0;
  line-height: 1.5em;

  color: #222;
}

.postsList .postItem {
  padding: 0.5em 1em 2em 1em;
}

.postsList .postItem .row {
  margin-left: 1em;
}

.postsList .postItem:hover {
  background: #e6e6e6;
}

.postsList li {
  padding: 0;
}