@import 'base';

article {
  @include container;
  
  font-family: $fonts;
  padding: 2em 1em;
  font-size: 18px;
  line-height: 26px;
  word-wrap: break-word;

  color: $color-font;

  @include desktop {
    padding: 2em 0;
    
  }

  a {
    color: $color-primary-mid;
  }

  li {
    list-style: initial;
    margin-left: 24px;
  }

  blockquote {
    font-family: $header-fonts;
    padding: 1em 1.6em;
    background: lighten($color-bg-light, 15%);
  }
}