@import 'base';

.postsList {
  padding: 1em 0;

  .img {
    min-width: 150px;
    min-height: 150px;
    margin-right: 2em;
  }

  p {
    margin: 0;
    line-height: 1.5em;

    color: $color-font;
  }

  .postItem {
    padding: 0.5em 1em 2em 1em;
  }

  .postItem .postContent {
    @include row;
    padding: 0 !important;
    margin-left: 1em;
  }

  .postItem:hover {
    background: darken($color-bg-light, 10%);
  }

  .postItem:active {
    background: darken($color-bg-light, 25%);
  }

  li {
    padding: 0;
  }
}

.pages .page.button {
  padding: .5em 1em;
  margin-right: .5em;
}