.portfolioList {
  padding: 2em 0;
}

.hmmm {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;

  background: #fff;
  border-radius: 1em;
}

.portfolioList .portfolioItem {
  padding: 1em 1em 3em 1em;
}

.portfolioList .img {
  min-width: 200px;
  min-height: 200px;
  margin-right: 2em;
  flex-shrink: 0;
  flex-grow: 0;
}

.portfolioList h2,.portfolioList p {
  margin: 0;
  line-height: 1.5em;
}

.portfolioList .buttonList {
  margin: 0.5em 0;
}

.portfolioList .button {
  padding: .25em .5em;
  margin: 0 .25em;

  color: #333;
  font-size: .75em;
  border-radius: .25em;
  background-color: #ddd;
}

.portfolioList .button.role {
  background-color: #0B3F60;
  color: #e3e3e3;
}